<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/css/admin_dash.css">

  <script type="text/javascript">
    $(document).ready(function(){

      $('.confirm').hide()

			$('.delete').click(function(event){
				var id = $(this).attr('id')
				$('#show'+id+'.confirm').show(100)
			})

			$('.cancel').click(function(event){
				var id = $(this).attr('id')
				$('#show'+id+'.confirm').hide(100)
			})


    })
  </script>

</head>
<body>
    <!-- START NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
					<a class="navbar-brand" href="#"><img src="/static/images/logo.png" height="100px"></a>
		    </div>
				<!-- /end Brand -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home Page</a></li>
            <li><a href="/search"><b>Search Services</b></a></li>
            <li><a href="/result"><b>All Services</b></a></li>
						{% if session['user'] and session['user']['admin_status'] %}
							<li><a href="/admin"><b>Admin</b></a></li>
						{% endif %}
						<li><a href="/support">Support</a></li>
						<li><a href="/admin">My Dashboard</a></li>
						<li><a href="/edit_user">Edit Settings</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <!-- /END NAV -->
    <div class="container">


			<!-- START FEEDBACK -->
			<div class="col-md-4 well">
					<div class="panel-body">
						<div id="feedback_box" class="inbox">
							<table class="table table-hover">
							  <thead>
									<tr>
										<td><b>SUPPORT INBOX <span class="badge"></span></b></td>
										<td><a href="/admin"><small>back to dash</small></a></td>
									</tr>
								</thead>
								<tbody>
									{% if active == [] %}
										<tr>
											<td colspan='2'>
												<h4><b>Inbox empty</b></h4>
											</td>
										</tr>
									{% endif %}
									{% for item in active %}
									<tr>
										<td colspan="2">
                      {% if item['email'] %}
      									<p>Email: {{item['email']}}</p>
      								{% else %}
      									<p>Email: N/A</p>
      								{% endif %}
      								<p>Message: {{item['message']}}</p>
                      <a class="btn btn-primary" href="/archive/deactivate/support/{{item['id']}}">Archive</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
					</div>
				</div>
			</div>
			<!-- /END FEEDBACK -->


			<div id="archive" class="panel col-md-7 panel-default">
				<div class="panel-heading">
    			<h3 class="panel-title">Archived Support</h3>
				</div>
			  <div class="panel-body">

					<table class="table table-hover">
						<tbody>
							{% if archived == [] %}
								<tr>
									<td colspan='2'>
										<h4><b>Archive empty</b></h4>
									</td>
								</tr>
							{% endif %}
							{% for item in archived %}
								<tr>
                  <td colspan="2">
                    {% if item['email'] %}
                      <p>Email: {{item['email']}}</p>
                    {% else %}
                      <p>Email: N/A</p>
                    {% endif %}
                    <p>Message: {{item['message']}}</p>
                    <a class="btn btn-primary" href="/activate/support/{{item['id']}}">Remove from Archive</a>
                    <a class="delete btn btn-danger" id="{{item['id']}}">Delete</a>

                    <div class="confirm" id="show{{item['id']}}">
                      <a class="delete btn btn-danger" href="/destroy/support/{{item['id']}}">Confirm</a>
                      <a class="btn btn-success cancel" id="{{item['id']}}">Cancel</a>
                    </div>

                  </td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

			  </div>
			</div>



</body>
</html>
