<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script>
		$(document).ready(function() {
			// initial page setup
			$('#feedback_input').hide();
			$('#edit').hide();

			$('#feedback').click(function(event) {
				$('#feedback_input').show(100);
			});

			$('#feedback_input a').click(function(event) {
				/* TODO: ajax call to send feedback */

				$('#feedback_input').hide(100);
				return false;
			});

			$('#edit_service').click(function(event) {
				$('#display').hide(100);
				$('#edit').show(100);
			});
		});
	</script>

	<style>
		a{
			text-decoration: none;
			color: black;
		}

		a:hover{
			color: blue;
		}

		img{
			height: 150px;
			vertical-align: top;
			margin-right: 10px;
		}

		ul.categories{
			padding: 0px;
		}

		ul.categories li{
			display: inline;
			margin-right: 10px;
		}

		.main-info{
			border-right: 2px solid lightgray;
		}

		textarea{
			resize: vertical;
		}
	</style>
</head>
<body>
	<!-- START NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><b>REDRIBBON.US</b></a>
        </div>
            <!-- /end Brand -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="/search"><b>Search Services</b></a></li>
		            <li><a href="/result"><b>All Services</b></a></li>
								{% if session['user'] and session['user']['admin_status'] %}
									<li><a href="/admin"><b>Admin</b></a></li>
								{% endif %}
								{% if session['user'] %}
									<li><a href="/user">My Dashboard</a></li>
									<li><a href="/logout">Log Out</a></li>
								{%else%}
									<li><a href="/login_reg">Login / Register</a></li>
								{% endif %}
				      </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <!-- /END NAV -->

	<div class="container">
		<div id="display">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="main-info col-md-9">
						<div>
							<h2>{{profile['s_name']}}
								<span class="like">&#9825;</span>
								{% if session['user'] and session['user']['admin_status'] %}
									<small><a id="edit_service" href="#">Edit Service</a></small>
									<a class="btn btn-danger" href="/destroy/service/{{profile['sid']}}">Delete Service</a>
								{% endif %}
							</h2>
							{% with messages = get_flashed_messages(category_filter=['update']) %}
								{% if messages %}
									<div class="alert alert-danger">
									{% for message in messages %}
										<div role="alert">{{ message }}</div>
									{% endfor %}
									</div>
								{% endif %}
							{% endwith %}
							<div class="rating"><h4>&#9733;&#9733;&#9733;&#9733;&#9734;</h4></div>
						</div>
						<div>
							<ul class="categories">
							  <li>Categories:</li>
								{% if profile['faith_based'] %}
							  	<li><a href="/result/faith_based">Faith Based</a></li>
								{% endif %}
								{% if profile['gender_based'] %}
							  	<li><a href="/result/gender_based">Gender Specific</a></li>
								{% endif %}
								{% if profile['req_doc'] %}
									<li><a href="/result/req_doc">Documents Required</a></li>
								{% endif %}
								{% if profile['dependent_based'] %}
									<li><a href="/result/dependent_based">Dependent Based</a></li>
								{% endif %}
								{% if profile['income_restriction'] != 0%}
							  	<li><a href="/result/income_based">Income Dependent, Minimum: ${{profile['income_restriction']}}</a></li>
								{% endif %}
							</ul>
							{% if profile['req_doc'] %}
							<p>Required Documents: {{ profile['documents']}}</p>
						{% else %}
							<p>Required Documents: None </p>
						{% endif %}
						</div>

						<div>
							<div>
								<h4>Service Type: {{profile['name']}}</h4>
								<h4>Description:</h4>
								<p>{{profile['description']}}</p>
								{% if profile['suite'] == 0 %} 	<!-- will only show suite if it has one-->
									<p>{{profile['street']}}, {{profile['city']}} {{profile['state']}}, {{profile['zip']}}</p>
								{% else %}
									<p>{{profile['street']}} {{profile['suite']}}, {{profile['city']}} {{profile['state']}}, {{profile['zip']}}</p>
								{% endif %}
								<p>Phone: {{profile['phone']}}, Email: {{profile['email']}}</p>

								{% if session['user'] %}
									<p><a href="/add/fav/{{profile['sid']}}">Add to Favorites</a></p>
								{% endif %}
							</div>
						</div>

						<div id="rating_info">
							{% with messages = get_flashed_messages(category_filter=['comment']) %}
			          {% if messages %}
									<div class="alert alert-danger">
			            {% for message in messages %}
										<div role="alert">{{ message }}</div>
			            {% endfor %}
									</div>
			          {% endif %}
			        {% endwith %}
							<form action="/add_rating/service/{{profile['sid']}}" method="post">
								<div class="form-group">
									<label>Rate this service</label>
									<select class="form-control" name="rating">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
								<div class="form-group">
									<label>Comment</label>
									<textarea class="form-control" name="comment"></textarea>
								</div>
								<div id="right">
									<input class="btn btn-primary" type="submit" value="Add Rating and Comment">
								</div>
							</form>

							<div id="ratings">
								<h2>Previous Ratings and Comments</h2>
								{% if comments == [] %}
									<p>No ratings</p>
								{% endif %}
								{% for i in comments %}
								<div class="rating">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
								<p>{{i['comment']}}</p>
								<p>Written by: {{i['alias']}},
									{% if i['flag'] == 1 %}
										Comment has been flagged and reported to admin
									{% else %}
										<a href="/flag/rating/{{i['id']}}/{{profile['sid']}}">Flag innapropriate comment</a>
									{% endif %}
								</p>

								{% if session['user'] and session['user']['admin_status'] %}
									<a class="btn btn-danger" href="/destroy/rating/{{i['id']}}/{{profile['sid']}}">Delete Rating</a>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="text-center">
							<img src="https://www.riddle.com/assets/img/img-icon.png" alt="placeholder">
							{% if profile['website'] %}
								<h5>Website: <a href="http://{{profile['website']}}">{{profile['website']}}</a></h5>
							{% else %}
								<h5>Website: N/A</h5>
							{% endif %}

							<h5><a id="feedback" href="#">See something wrong? Want to report inaccurate or changed information? Click Here!</a></h5>
							<div id="feedback_input">
								<form class="" action="/add_feedback/service/{{profile['sid']}}" method="post">
									<label>Summarize issue:</label>
									<textarea class="form-control" name="comment" rows="8" cols="80"></textarea>
									<label>Email (optional):</label>
									<input type="form-control" name="email"></br>
									<input class="btn btn-default" type="submit" name="" value="Send">
								</form>
							</div>
							{% with messages = get_flashed_messages(category_filter=['feedback']) %}
								{% if messages %}
									<div class="alert alert-danger">
									{% for message in messages %}
										<div role="alert">{{ message }}</div>
									{% endfor %}
									</div>
								{% endif %}
							{% endwith %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="edit">
			<div class="panel panel-default">
				<div class="panel-body">
					<form action="/update/service/{{profile['sid']}}" method="post">
						<div class="col-md-6">
							<div class="form-group">
								<label>Edit Service Name:</label>
								<input class="form-control" type="text" name="name" value="{{ profile['s_name'] }}">
							</div>
							<div class="form-group">
								<label>Edit Service Type:</label>
								<select class="" name="type_name">
									<option value=""></option>
									{% for i in types %}
										{% if i['name'] == profile['name'] %}
											<option value="{{i['name']}}" selected="selected">{{i['name']}}</option>
										{% else %}
											<option value="{{i['name']}}">{{i['name']}}</option>
										{% endif %}
									{% endfor %}
								</select>
								<p class='col-md-offset-2'><b>Or</b></p>
								<label>New Type of Service</label>
								<input class="form-control" type="text" name="type_name_new">
							</div>
							<div class="form-group">
								<label>Edit Service Description:</label>
								<textarea class="form-control" name="description">{{ profile['description'] }}</textarea>
							</div>
							<div class="form-group">
								<label>Edit Hours the service is available:</label>
								<input class="form-control" type="text" name="hours" value="{{profile['hours']}}">
							</div>
							<div class="form-group">
								<label>Phone number of the service:</label>
								<input class="form-control" type="text" name="phone" value="{{profile['phone']}}">
								<p>Format: (123)456-7890</p>
							</div>
						</div> <!--END left side of form -->


						<div class="col-md-6">
							<div class="form-group">
									<label>Edit Email address of the service:</label>
									<input class="form-control" type="email" name="email" value="{{profile['email']}}">
								</div>

							<div class="form-group">
								<label>Edit Website (optional):</label>
								<input class="form-control" type="text" name="website" value="{{ profile['website'] }}">
							</div>

							<div class="form-group">
									<label>Gender based service:</label>
									<select class="form-control" name="gender_based">
										<option value="0">No</option>
										{% if profile['gender_based'] %}
											<option value="1" selected="selected">Yes</option>
										{% else %}
											<option value="1">Yes</option>
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label>Faith-based service:</label>
									<select class="form-control" name="faith_based">
										<option value="0">No</option>
										{% if profile['faith_based'] %}
											<option value="1" selected="selected">Yes</option>
										{% else %}
											<option value="1">Yes</option>
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label>Service for dependants:</label>
									<select class="form-control" name="dependent_based">
										<option value="0">No</option>
										{% if profile['dependent_based'] %}
											<option value="1" selected="selected">Yes</option>
										{% else %}
											<option value="1">Yes</option>
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label>Service requires docments:</label>
									<select class="form-control" name="req_doc">
										<option value="0">No</option>
										{% if profile['req_doc'] %}
											<option value="1" selected="selected">Yes</option>
										{% else %}
											<option value="1">Yes</option>
										{% endif %}
									</select>
								</div>
								<div class="form-group">
									<label>Required Documents (optional)</label>
									{% if profile['documents'] %}
										<input class="form-control" type="text" name="documents" value="{{profile['documents']}}">
									{% else %}
										<input class="form-control" type="text" name="documents">
									{% endif %}
								</div>
								<div class="form-group">
									<label>Number of dependants (min)(optional):</label>
									<input class="form-control" type="text" name="dependent">
								</div>
								<div class="form-group">
									<label>Service annual income restriction (optional):</label>
									{% if profile['income_restriction'] %}
										<input class="form-control" type="number" name="income_restriction" value="{{profile['income_restriction']}}">
									{% else %}
										<input class="form-control" type="number" name="income_restriction">
									{% endif %}
								</div>
							<div class="form-group">
								<label>Edit Image URL:</label>
								<input class="form-control" type="text" name="image_url" value="{{ profile['image_url'] }}">
							</div>
						</div> <!--END right side of form -->

						<div id="address">
							<div class="form-group">
								<label>Street Address:</label>
								<input class="form-control" type="text" name="street" value="{{profile['street']}}">
							</div>
							<div class="form-group">
								<label>Suite # (optional):</label>
								{% if profile['suite'] %}
									<input class="form-control" type="text" name="suite" value="{{profile['suite']}}">
								{% else %}
									<input class="form-control" type="text" name="suite">
								{% endif %}
							</div>
							<div class="form-group">
								<label>State:</label>
								<input class="form-control" type="text" name="state" value="{{profile['state']}}">
							</div>
							<div class="form-group">
								<label>City:</label>
								<input class="form-control" type="text" name="city" value="{{profile['city']}}">
							</div>
							<div class="form-group">
								<label>Zip Code:</label>
								<input class="form-control" type="text" name="zip" value="{{profile['zip']}}">
							</div>
						</div>
						<div id="right">
								<input class="btn btn-primary" type="submit" value="Save Changes">
							</div>
					</form>
				</div>
			</div>
		</div><!-- /END Edit Info -->


	</div>
</body>
</html>
