<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/css/user.css">
	<link rel="stylesheet" href="/static/css/search_results.css">

	<script type="text/javascript">
		$(document).ready(function() {
			$("img").error(function(){
				$(this).unbind('error').attr('src', '../static/images/icon.png')
			})

		})
	</script>

</head>
<body>
	<!-- START NAVIGATION BAR -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
					<a class="navbar-brand" href="#"><img src="/static/images/logo.png" height="100px"></a>
		    </div>
				<!-- /end Brand -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
						<li><a href="/search"><b>Search Services</b></a></li>
            <li><a href="/result"><b>All Services</b></a></li>
						{% if session['user']['admin_status'] %}
							<li><a href="/admin"><b>Admin</b></a></li>
						{% endif %}
							<li><a href="/edit_user">Edit Settings</a></li>
							<li><a href="/logout">Log Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <!-- /END NAV -->

	<div class="container">
		<div class="col-md-12">
			<h3>Recommended: <small>based on your preferences <i><sub>(<a href="/edit_user">edit settings</a>)</sub></i></small></h3>
		</div>
		<!-- start results -->
		<div id="results" class="col-md-6">

				{% for rec in result %}

				<div class="panel panel-default">
					<div class="panel-heading">
						{% if rec['img_url'] %}
							<img class="default_img" src="{{rec['img_url']}}" alt="placeholder">
						{% else %}
							<img class="default_img" id="def_img" src="../static/images/icon.png" alt="image">
						{% endif %}

						<div>
							<h4><a href="/service/{{rec['sid']}}">{{rec['s_name']}}</a></h4>
							<div class="rating">

								{% if rec['rating'] %}

									{% for count in range(1, rec['rating'] + 1) %}
										&#9733;
									{% endfor %}
									{% for count in range(rec['rating'], 5) %}
										&#9734;
									{% endfor %}

								{% else %}
									No ratings yet -
								{% endif %}

								<a href="/service/{{rec['sid']}}">Rate Service</a>
							</div>
							<p>Type: {{ rec['name'] }}</p>
						</div>
					</div>
					<div class="panel-body">
						<div>
							<ul class="categories">
								<li>Categories:</li>
								{% if rec['faith_based']%}
								<li><a href="/result/faith_based">Faith Based</a></li>
								{% endif %}
								{% if rec['gender_based']%}
								<li><a href="/result/gender_based">Gender Specific</a></li>
								{% endif %}
								{% if rec['req_doc'] %}
									<li><a href="/result/req_doc">Documents Required</a></li>
								{% endif %}
								{% if rec['dependent_based'] %}
									<li><a href="/result/dependent_based">Dependent Based (Minimum: {{rec['num_of_dependents']}})</a></li>
								{% endif %}
								{% if rec['income_restriction'] %}
								<li><a href="/result/income_based">Income Dependent, Minimum: ${{rec['income_restriction']}}</a></li>
								{% endif %}
							</ul>
							{% if rec['req_doc'] %}
								<p>Required Documents: {{ rec['documents']}}</p>
							{% else %}
								<p>Required Documents: None </p>
							{% endif %}
						</div>

						<div>
							<div>
								<p>{{rec['description']}}</p>
								{% if rec['suite'] == 0 %} 	<!-- will only show suite if it has one-->
							<p>{{rec['street']}}, {{rec['city']}} {{rec['state']}}, {{rec['zip']}}</p>
							{% else %}
							<p>{{rec['street']}} {{rec['suite']}}, {{rec['city']}} {{rec['state']}}, {{rec['zip']}}</p>
							{% endif %}
							{% if rec['website'] %}
								<p>Phone: {{rec['phone']}}, Email: {{rec['email']}}, Website: <a href="http://{{rec['website']}}">{{rec['website']}}</a></p>
							{% else %}
								<p>Phone: {{rec['phone']}}, Email: {{rec['email']}}, Website: N/A</p>
							{% endif %}
							{% if session['user'] %}
								<p><a href="/add/fav/{{rec['sid']}}">Add to Favorites</a></p>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}


			</div>
		</div>
		<!-- end results -->

		<div class="col-md-1">
			<!-- space filler -->
		</div>

		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h4>My Favorites</h4>
				</div>
				<div class="panel-body" id="favs">

					{% for fav in favs %}

					<div class="panel panel-default">
						<div class="panel-heading">
							{% if fav['img_url'] %}
								<img class="default_img" src="{{fav['img_url']}}" alt="placeholder">
							{% else %}
								<img class="default_img" id="def_img" src="../static/images/icon.png" alt="image">
							{% endif %}
							<div>
								<h4><a href="/service/{{fav['sid']}}">{{fav['s_name']}}</a></h4>
								<div class="rating">

									{% if fav['rating'] %}

										{% for count in range(1, fav['rating'] + 1) %}
											&#9733;
										{% endfor %}
										{% for count in range(fav['rating'], 5) %}
											&#9734;
										{% endfor %}

									{% else %}
										No ratings yet -
									{% endif %}

									<a href="/service/{{fav['sid']}}">Rate Service</a>
								</div>
								<p>Type: {{fav['name']}}</p>
							</div>
						</div>
						<div class="panel-body">
							<div>
								<ul class="categories">
									<li>Categories:</li>
									{% if fav['faith_based'] %}
						  			<li><a href="/result/faith_based">Faith Based</a></li>
									{% endif %}
									{% if fav['gender_based'] %}
						  			<li><a href="/result/gender_based">Gender Specific</a></li>
									{% endif %}
									{% if fav['req_doc'] %}
										<li><a href="/result/req_doc">Documents Required</a></li>
									{% endif %}
								{% if fav['dependent_based'] %}
									<li><a href="/result/dependent_based">Dependent Based (Minimum: {{fav['num_of_dependents']}})</a></li>
								{% endif %}
									{% if fav['income_restriction'] != 0%}
						  			<li><a href="/result/income_based">Income Dependent (Minimum: ${{fav['income_restriction']}})</a></li>
									{% endif %}
								</ul>
								{% if fav['req_doc'] %}
									<p>Required Documents: {{ fav['documents']}}</p>
								{% else %}
									<p>Required Documents: None </p>
								{% endif %}
							</div>

							<div>
								<div>
									<p>Description: {{fav['description']}}</p>
									{% if fav['suite'] == 0 %} 	<!-- will only show suite if it has one-->
										<p>{{fav['street']}}, {{fav['city']}} {{fav['state']}}, {{fav['zip']}}</p>
									{% else %}
										<p>{{fav['street']}} {{fav['suite']}}, {{fav['city']}} {{fav['state']}}, {{fav['zip']}}</p>
									{% endif %}
									{% if fav['website'] %}
										<p>Phone: {{fav['phone']}}, Email: {{fav['email']}}, Website: <a href="http://{{fav['website']}}">{{fav['website']}}</a></p>
									{% else %}
										<p>Phone: {{fav['phone']}}, Email: {{fav['email']}}, Website: N/A</p>
									{% endif %}
									<p><a href="/destroy/fav/{{fav['sid']}}">Remove From Favorites</a></p>
								</div>
							</div>
						</div>

					</div>

				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
